

<!-- <h2>My Heroes</h2> -->
<div>
  <!-- <label>Hero name:</label> <input #heroName /> -->
  <!-- <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button> -->
</div>
<ul class="heroes">
  <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li> -->
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is selected
  </h2>
   <div class="w3-col s2">
      <button (click)="gotoDetail()"class="w3-btn w3-padding w3-green">
          View Details</button>
 
   </div>
</div>

<!-- list layout of actors -->
  <html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<body>



<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:600px;">
  <header class="w3-container w3-light-grey w3-padding-16">
    <h3>Game of Thrones Celebrities</h3>
  </header>
  <ul class="w3-ul">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button></li>
  </ul>
  <div class="w3-container w3-light-grey w3-padding-16">
    <div class="w3-row w3-margin-top">
      <div class="w3-col s10">
        <input #heroName placeholder="Enter Actor Name" ng-model="addMe" class="w3-input w3-border w3-padding">
      </div>
      <div class="w3-col s2">
        <button (click)="add(heroName.value); heroName.value=''"class="w3-btn w3-padding w3-green">
          Add</button>
      </div>
    </div>
    <p class="w3-padding-left w3-text-red">{{errortext}}</p>
  </div>
</div>

</body>
</html>
